---
interface Props{
  name: string ,
  description: string,
  position: string,
  headCount: number,
  technologies: string[],
  mainResponsibility: string ,
  additionalInfo: string
}

const project = Astro.props;
---
<div class="project mb-2">
  <div class="font-bold">{project.name}</div>
  <div>Position: {project.position}</div>
  <div>Headcount: {project.headCount}</div>
  <div>Technologies: {project.technologies.join(', ')}</div>
  <div>Main Responsibility: {project.mainResponsibility}</div>
  <div>Description: {project.description}</div>
  {project.additionalInfo ? `<div>{project.additionalInfo}</div>`: ''}
</div>
